form {
  margin-top: 10px;
  width: 800px;
  align-content: center;
  margin-bottom: 50px;

}

.button {
  background-color: black;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.contactCont {
  margin-top: 20px;
  margin: auto;
  width: 800px;
  height: 200px;

}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(53, 50, 240, 0.863);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(53, 50, 240, 0.863);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(53, 50, 240, 0.863);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
