<!--
 contact-me.html
 Nikesh Patel
 300970071
Mar 28, 2019 -->
<div class="contactCont">
  <br />
  <br />
  <h1>Contact Me</h1>
  <form class="form"  autocomplete="off" (submit)="onMessageSubmit()">
    <label for="firstname">First Name</label>

    <input name="firstname" id="firstname" type="text"
        [(ngModel)]="message.firstname" required type="text" placeholder="Your name.." />

    <label for="lastname">Last Name</label>

    <input  type="text" name="lastname"  id="lastname"
        [(ngModel)]="message.lastname" placeholder="Your last name.." required type="text"/>

    <label for="email">Email</label>

    <input name="email" id="email"
        [(ngModel)]="message.email" name="email" required type="email" placeholder="Your Email.."/>
    <br />

    <label for="num">Contact Number</label>
    <input name="num" type="number" id="num"
       [(ngModel)]="message.num" required type="number"/>
    <br />

    <label for="subject">Message</label>
    <textarea name="subject" id="subject" style="height:200px"
        [(ngModel)]="message.subject" required type="text" placeholder="Please write message.."></textarea>

    <input type="submit" value="Submit" class="btn btn-primary button" />
  </form>
</div>

