html,
body {

  background-color: gainsboro;
  font-family: "Lucida Sans", sans-serif;
}

.container {
  background-color: transparent;
  width: auto;
  text-align: center;
  font-family: "Lucida Sans";
  align-content: center;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.button {
  background-color: black;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.piclogo {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(55, 58, 240, 0.19),
    0 17px 50px 0  rgba(55, 58, 240, 0.19);
}
