<!--
services.html
 Nikesh Patel
 300970071
Mar 28, 2019 -->
<div class="row" style="padding-top: 20px">
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/android.jpg" />
    <h3>Android Application Development</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/dotnet.png" />
    <h3>.NET Development</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/mysql.png" />
    <h3>MySQL Database</h3>
  </div>
</div>
<br />
<!--<div class="line"></div>-->
<br />
<div class="row">
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/visio.jpg" />
    <h3>Microsoft Visio</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/laravel.jpg" />
    <h3>Laravel Framework</h3>
  </div>
  <div class="col-lg-4 text-center">
    <img class="serviceImg" src="/assets/Images/node.png" />
    <h3>Node JS</h3>
  </div>
</div>
